/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;

*,
::before,
::after {
  @apply relative;
}

html {
  @apply overflow-x-hidden scroll-smooth;
}

.container {
  /* @apply mx-auto w-[calc(100%_-_40px)] max-w-[1440px] md:w-[calc(100%_-_200px)]; */
  @apply mx-auto w-[calc(100%_-_40px)] max-w-[1280px] md:w-[calc(100%_-_200px)];
}

.nobr {
  @apply whitespace-nowrap;
}

/* https://twitter.com/shuding_/status/1556357928176730113 */
@keyframes reveal {
  0% {
    mask: linear-gradient(90deg, #000 25%, #000000e6 50%, #00000000) 150% 0 / 400%
      no-repeat;
    opacity: 0.2;
  }
  100% {
    mask: linear-gradient(90deg, #000 25%, #000000e6 50%, #00000000) 0 / 400% no-repeat;
    opacity: 1;
  }
}

@keyframes up {
  0% {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

.reveal {
  animation: reveal 1s forwards;
  will-change: mask;
}

a {
  @apply text-wv hover:underline;
}

@tailwind utilities;
